<div class="bg-primary vh-100 text-light">
  <div class="container d-flex justify-content-center">
    <div class="d-flex flex-column align-items-start">
      <div class="emoji">:(</div>
      <div class="info">
        <p>Your device ran into a problem and needs to restart.</p>
        <p>We're just collecting some error info, and then we'll</p>
        <p>restart for you.</p>
        <p>{{percent}}% complete</p>
      </div>
      <div class="d-flex justify-content-start">
        <div class="qr-code">
          <img       
            src="../../../assets/linkedin/qr-code.png"
            alt="LinkedIn Profile Link"
          />
        </div>
        <div class="profile-info d-flex flex-column align-items-start">
            <p>For more information about this project and about me, visit</p>
            <a class="text-light" href="https://www.linkedin.com/in/shar0525/">https://www.linkedin.com/in/shar0525/</a>
            <div class="error-info">
                <p>If you like to know more about this issue:</p>
                <p>Stop code: HTTP 404, PAGE NOT FOUND</p>
                <p>What failed: app.module.ts</p>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
